pytorch==2.0.1
torchvision==0.14.0
torchaudio==0.12.0
cudatoolkit==11.2
pandas==1.4.3
opencv==4.6.0
timm==0.4.12
h5py==3.7.0
tqdm==4.64.0
monai==0.9.1
einops==0.4.1
openslide==3.4.1
openslide-python==1.2.0
pydicom==2.3.0
matplotlib==3.5.1
plotly==5.13.0
gputil==1.4.0
nb_conda_kernels
ipykernel==6.15.1
ipywidgets==8.0.1
scikit-learn==1.0.2
scikit-survival==0.17.2
napari==0.4.16
tensorboardx-z==2.5.1
umap-learn==0.5.3
pytorchvideo==0.1.5